# Elm files:
elm-stuff
repl-temp-*
elm.js

# Stack files:
.stack-work

# Editor files:
TAGS

# OS files:
.DS_Store

# Emacs files:
\#*\#

# .xcodeproj bullshit
swift-client/Goojle\ Retain/Pods/
swift-client/Goojle\ Retain/Podfile.lock
